:root {
    --azul-fondo: #26116a;
    --azul-claro: #9bcdec;
    --rosado-equis: #ab25ab;
    --white: #ffffff;
    --black: #000000;
    --white: #ffffff;
    --black: #000000;
    --lg:22px;
    --m:14px;
    --s:10px;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.navegador {
    background-color: var(--azul-claro);
    height: 80px;
}

.div-nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.icono {
    width: 60px;
    height: 60px;
    justify-self: center;
}

.icono2 {
    justify-self: right;
}

.contenedor-principla {
    display: flex;
    height: 100vh;
}

.menu-vertical {
    padding: 12px;
    background-color:papayawhip;
    width: 20%;
}
h3{
    
    color: var(--rosado-equis);
    font-size: var(--lg);

}
.lista{
    list-style-type:lower-roman;
    color: var(--rosado-equis);
    font-weight: bold;
    padding: 15px;
}
.lista-item{
    cursor:pointer;
}
p{
    color: var(--rosado-equis);
    font-size: var(--lg);
    font-weight: bold;
    margin: 0;
    cursor:pointer;
}

.pelicula{
    width: 85%;
    height: 25%;
    align-self: center;
}
.pantalla {
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}

.menu-horizontal {
    background-color:var(--azul-fondo);
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 15px;
}

.template-pantalla {
    background-color: aquamarine;
    height: 100vh;
}